==
<div class="container">
    <nav class="pull-left">
        <ul>
            <li class="active">
                <a href="#">Inicio</a>
            </li>
            <li>
                <a href="#">Libro Libre MX</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="http://facebook.com/librolibremx"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="http://twitter.com/librolibremx"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
    </div>
    <div class="additional-links">
         <a href="/terminos-y-condiciones">Términos y condiciones</a> y <a href="/politica-de-privacidad">Política de Privacidad</a>
    </div>
</div>