
.book-info-wrapper{
    margin: 1em;
    position: relative;
    overflow: hidden;
}
.left-side-book-info{
    width: 50%;
}
.right-side-book-info {
    width: 30%;
}
.right-side-book-info img {
    max-width: 100%;
}

.book-info-part {
    float: left;
    position: relative;
    margin: 5px;
}
.book-presentation {
    margin: 5px;
    max-width: 200px;
    overflow: hidden;
    display: inline-block;
    height: 350px;
}
.book-presentation-cover{
    max-width: 150px;
}
.book-title{
    font-weight: 600;
    color: #008000;
}